<div class="container-fluid">
 <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
  <div class="row user-row">
      <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
          <img class="img-circle" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
               alt="User Pic">
      </div>
      <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
          <strong>Restaurateur 1 </strong><br>
      </div>

  </div>
  <div class="row user-infos ">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title"> Informations</h3>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                          <img class="img-circle"
                               src="assets/logo la palma.png"
                               alt="User Pic" style="width: 60%;">
                      </div>
                      <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                          <img class="img-circle"
                               src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                               alt="User Pic">
                      </div>
                      <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                          <strong>Restaurateur</strong><br>
                          <dl>
                              <dt>User level:</dt>
                              <dd>Administrator</dd>
                              <dt>Registered since:</dt>
                              <dd>11/02/2022</dd>
                              <dt>Restaurant</dt>
                          </dl>
                      </div>
                      <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                          <table class="table table-user-information">
                              <tbody>
                              <tr>
                                  <td> Name:</td>
                                  <td >Abir Ghribi  </td>
                              </tr>
                              <tr>
                                  <td>Registered since:</td>
                                  <td>11/12/2013</td>
                              </tr>
                              <tr>
                                  <td>Restaurant</td>
                                  <td>La Palma </td>
                              </tr>
                              <tr>
                                  <td>Warnings</td>
                                  <td>0</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="panel-footer">
                  <button class="btn btn-sm btn-primary" type="button"
                          data-toggle="tooltip"
                          data-original-title="Send message to user"><i class="glyphicon glyphicon-envelope"></i></button>
                  <span class="pull-right">
                      <button class="btn btn-sm btn-warning" type="button"
                              data-toggle="tooltip"
                              data-original-title="Edit this user"><i class="glyphicon glyphicon-edit"></i></button>
                      <button class="btn btn-sm btn-danger" type="button"
                              data-toggle="tooltip"
                              data-original-title="Remove this user"><i class="glyphicon glyphicon-remove"></i></button>
                  </span>
              </div>
          </div>
      </div>
  </div>
</div>

  <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <div class="row user-row">
        <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
            <img class="img-circle" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                 alt="User Pic">
        </div>
        <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
            <strong>Restaurateur 1 </strong><br>

        </div>
    </div>
    <div class="row user-infos ">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"> Informations</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                            <img class="img-circle"
                                 src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                 alt="User Pic">
                        </div>
                        <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                            <img class="img-circle"
                                 src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                                 alt="User Pic">
                        </div>
                        <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                            <strong>Restaurateur</strong><br>
                            <dl>
                              <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>Administrator</td>
                                </tr>
                                <tr>
                                    <td>Registered since:</td>
                                    <td>11/12/2013</td>
                                </tr>
                                <tr>
                                    <td>Topics</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>Warnings</td>
                                    <td>0</td>
                                </tr>
                                </tbody>

                            </dl>
                        </div>
                        <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">

                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>Administrator</td>
                                </tr>
                                <tr>
                                    <td>Registered since:</td>
                                    <td>11/12/2013</td>
                                </tr>
                                <tr>
                                    <td>Topics</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>Warnings</td>
                                    <td>0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-sm btn-primary" type="button"
                            data-toggle="tooltip"
                            data-original-title="Send message to user"><i class="glyphicon glyphicon-envelope"></i></button>
                    <span class="pull-right">
                        <button class="btn btn-sm btn-warning" type="button"
                                data-toggle="tooltip"
                                data-original-title="Edit this user"><i class="glyphicon glyphicon-edit"></i></button>
                        <button class="btn btn-sm btn-danger" type="button"
                                data-toggle="tooltip"
                                data-original-title="Remove this user"><i class="glyphicon glyphicon-remove"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
