<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="assets/script.js"></script>

<!------ Include the above in your HEAD tag ---------->
<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">

    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <div class="brand-wrapper">


            <!-- Brand -->
            <div class="brand-name-wrapper">
                <a class="navbar-brand" href="#">
                    EAT&CHILL
                </a>
            </div>
        </div>
    </div>
    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul class="nav navbar-nav">

            <li><a [routerLink]="['restaurateur']"  routerLinkActive="active" ><span class="glyphicon glyphicon-user"></span>Les restaurateurs </a></li>
            <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Les clients </a></li>
            <li><a href="#"><span class="glyphicon glyphicon-bell"></span> Réclamation</a></li>

        </ul>
       </div><!-- /.navbar-collapse -->
    </nav>
 </div>
    <!-- Main Content -->

    <div class="container col-lg-offset-2">
      <router-outlet></router-outlet>
    </div>

</div>

